.button {
    height: 55px;
    width: 45%;
    margin-top: 45px;
    background: none;
    border: 1px solid #ddd;
    transition: ease-out 0.5s;
    margin-right: 15px;
    
    
    &:hover {
        background-color: #eee;
        cursor: pointer;
    }
}