.formContainer {
  width: 100vw;
  height: 100vh;
  display: flex;

  .form {
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border:1px solid #ccc;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 15px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

    label {
      display: flex;
      flex-direction: column;
      width: 90%;
      padding: 15px;
      font-weight: 500;
      font-size: 1.1rem;

      input {
        margin-top: 25px;
        padding: 10px 15px;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 10px;
      }

      select {
        padding: 10px 15px;
        border-radius: 15px;
        border: none;
        outline: none;
        margin-top: 25px;
      }
    }

    button {
      width: 55%;
      padding: 10px 15px;
      border-radius: 15px;
      border: 1px solid #ccc;
      outline: none;
      background: #fff;
      transition: ease-in-out 0.5s;
      margin-top: 25px;
      margin-bottom: 25px;

      &:hover {
        background: #ccc;
      }
    }

  }
}